.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  transition: 500ms ease-in-out;
  transform: translateX(100px);
  opacity: 0;
  color: var(--color-txt-light);
  z-index: 1000;
  padding: var(--arrd-padding-sm);
  border-radius: 3px;
  cursor: pointer;
}

.toast[data-visible='true'] {
  transform: translateX(0);
  opacity: 1;
}

.toast[data-type='error'] {
  background: var(--color-txt-error);
}

.toast[data-type='info'] {
  background: #2196f3;
}

.toast[data-type='warning'] {
  background: #ff9800;
}
